.body-nav {
  margin: 10px 0 10px 10px;
}

.label-side .label {
  margin-right: 10px;
  font-weight: 200;
  color: #004C73;
}

.label-side .total {
  color: #8798AD;
  margin-top: 8px;
}

.body-nav button ion-icon {
  margin-right: 5px;
}
