.navbar img {
  margin-left: 40px;
  height: 53px;
}

.navbar button,
.navbar-collapse {
  margin-right: 40px;
}

.navbar.-login {
  background: #042b44;
  height: 66px;
}

.navbar-light .navbar-toggler {
  background: #ffffff;
}

.navbar-nav a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.15em;
  padding: 16px 7px;
}

.navbar-nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar-collapse {
  text-align: right;
}

@media screen and (max-width: 414px) {
  .navbar-nav {
    background: #014d73;

  }
}
