.sidebar-button {
  display: flex;
  align-items: center;
  padding: 20px 18px;
  border: none;
  background: #E5EDF1;
  border-left: 2px solid #004C73;
}

.sidebar-button ion-icon {
  margin-right: 20px;
  color: #004C73;
  margin-bottom: 0;
}

.sidebar-button p {
  margin-right: 20px;
  color: #004C73;
  margin-bottom: 0;
  font-weight: bold;
}
