.form-container {
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #042b44;
}

.form-container img {
  height: 125px;
}

.form-container p {
  text-transform: uppercase;
  color: #ffffff;
}

.login-group .text-description {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.10em;
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.input-field span {
  color: #B0BAC9;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-bottom: 3px;
}

.input-field input {
  width: 290px;
  color: #2E384D;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #E0E7FF;
  border-radius: 3px;
}

.input-field ion-icon {
  position: absolute;
  right: 10px;
  top: 23px;
  color: #042b44;
  font-size: 21px;
  cursor: pointer;
}

.form-section .primary-btn {
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  background: #2E5BFF;
  padding: 7px;
  font-size: 14px;
  font-weight: bold;
}
